<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/dd83fb06-7525-4e41-b408-8d455d8398ec/resourceGroups/Switzerland/providers/Microsoft.Web/sites/fastfoodvasvari</ResourceId>
    <ResourceGroup>Switzerland</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fastfoodvasvari.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>39977cdf-0f9f-45eb-ae82-b052ff9b9ba5</ProjectGuid>
    <PublishUrl>https://fastfoodvasvari.scm.azurewebsites.net/</PublishUrl>
    <UserName>$fastfoodvasvari</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>